# See https://fly.io/docs/reference/configuration/

# Change `app` to your Fly app name (must be globally unique).
app = "chowsr"
primary_region = "dfw"

[build]
  dockerfile = "Dockerfile"

[env]
  NODE_ENV = "production"
  PORT = "8080"
  DB_PATH = "/data/chowsr.db"
  ENABLE_EMAIL = "false"
  ENABLE_SMS = "false"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = "stop"
  auto_start_machines = true
  min_machines_running = 0

  [[http_service.checks]]
    grace_period = "10s"
    interval = "15s"
    method = "GET"
    path = "/api/health"
    timeout = "2s"

[[mounts]]
  source = "data"
  destination = "/data"
